@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 0.3s ease-in-out;
  --animate-slide-down: slide-down 0.3s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@plugin "daisyui" {
  themes: halloween --default;
}
